body {
    background-color: cadetblue;
    
    
}

section {
    background-color: antiquewhite;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 2px 2px 10px black;
   text-align: center;
   
}

header   {
    color: antiquewhite;text-align: center;
}
select{
    width: 150px;
}